@import '../../scss/variables';

.header {
  background-color: #390067;
  width: 100vw;
  height: 3rem;
  position: fixed;
  z-index: 50;
  box-shadow: 0rem 0.25rem 0.5rem rgba(black, 0.5);

  .info {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
  }
  .text {
    font-size: 1.2rem;
    text-align: right;
    color: $text-color;
    margin: 0.5rem;

    &.date {
      margin-left: 0rem;
      margin-right: 0.3rem;
    }
  }
}
