@import '../../scss/variables';

.map {
  width: 100%;
  height: 100%;
  background-color: #090909;
}

.leaflet-control-attribution {
  visibility: hidden;
}

.leaflet-marker-icon.marker {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #520096;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 0 10px 0 #6c00c4;
}
